/* hide F table. Start with C by default */
.view{text-align:center;width:100%;margin-top:2.6em}.view tr>td{padding:.6em}.view .rowodd{background-color:#f5f5f5}.view .row{background-color:#f0ffff}#slidingPanel .ui-slider-switch{width:8em}#tableF{display:none}#page{display:none}.ui-content{padding:0}.ui-body-c{background:0}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
