.view {
  text-align: center;
  width: 100%;
}
.view tr > td {
  padding: 0.6em;
}
.view .rowodd {
  background-color: #f0ffff;
}
/*overwrite for jQuery-Mobile*/
.ui-content {
  padding: 0px;
}
#slidingPanel .ui-slider-switch {
  width: 8em;
}
