@rowPadding: 0.6em;
@oddRowColor: #f5f5f5;
@evenRowColor: #F0FFFF;
@sliderWidth: 8em;
@marginTop: 2.6em;

.view {
  text-align: center;
  width: 100%;
  /*margin-top: @marginTop;*/

  tr > td {
    padding: @rowPadding;
  }

  .rowodd {
    background-color: @oddRowColor;
  }

  .row {
    background-color: @evenRowColor;
  }
}

#slidingPanel {
  .ui-slider-switch {
    width: @sliderWidth;
  }
}

/* hide F table. Start with C by default */
#tableF {
  display: none;
}

/* hide main page to avoid CSS flicker */
#page {
  display: none;
}

/* overwrites for jQuery-Mobile */
.ui-content {
  padding: 0px;
}

.ui-body-c {
  background: none;
}