@row-padding: 0.6em;
@odd-rowColor: #F0FFFF;
@sliderWidth: 8em;

.view {
  text-align: center;
  width: 100%;

  tr > td {
    padding: @row-padding;
  }

  .rowodd {
    background-color: @odd-rowColor;
  }
}

/*overwrite for jQuery-Mobile*/
.ui-content {
  padding: 0px;
}

#slidingPanel {
  .ui-slider-switch {
    width: @sliderWidth;
  }
}